body {
    background-color: aliceblue;
    background-image: url(../images/ghanastatue2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.logopic {
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius: 20px;
    margin-left: -150px;
}

nav {
    display: flex;
    justify-content: space-between;
    width: 84%;
    height: 20px;
    margin: auto;
    padding: 2px 0;
    align-items: center;
}

nav h2 {
    margin-left: -650px;
    font-size: 40px;
}

span {
    color: orange;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
    font-size: 24px;
}

nav ul li a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

nav ul li a:hover {
    color: red;
}

section {
    background-size: cover;
    background-repeat: no-repeat;
    color: aliceblue;
    height: 100%;
}

.homehead {
    background-color: lightgray;
    color: black;
    margin: 40px 0px 0px 420px;
    width: 900px;
    height: 250px;
    padding: 25px;
}

.homehead h1 {
    color: green;
    font-size: 40px;
}

.homehead p {
    font-size: 20px;
    font-weight: 500;
}

.name-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px;
}

.name-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: auto;
    background: #4f504f;
    margin: 20px;
    padding: 40px;
    text-align: center;
    border-radius: 20px;
}

.name-box:hover {
    background: var(--primary, black);
    transition: 0.5s ease;
}

.name- img {
    width: 70px;
    height: 70px;
}

.name-img img {
    width: 100%;
    height: 100%;
    border-radius: 20%;
    border: 4px solid var(--primary);
}

.name-box h2 {
    font-weight: 600;
    margin: 10px 0;
    color: #12cee7;
}

.name-box p {
    font-weight: 400;
    color: white;
    font-size: 17px;
}

a {
    color: orange;
    padding: 20px;
    text-decoration: none;
}

h1 {
    font-size: 36px;
    padding-top: 20px;
}

p {
    font-size: 24px;
}

.container {
    width: 80%;
    margin: auto;
}

.form-name {
    background-color: rgb(0, 0, 0);
    color: aliceblue;
    height: 800px;
    width: 650px;
    margin-left: 35%;
    margin-right: 50%;
    margin-bottom: auto;
    padding-bottom: 20px;
    box-shadow: 2px 2px #3b3b3b;
    border-radius: 0.5%;
}

.find_more {
    font-style: italic;
    color: rgb(28, 161, 1);
}

a:hover {
    color: yellow;
}

.myform {
    font-size: 28px;
}

#year-input {
    border-radius: 5px;
    width: 60px;
    height: 20px;
    box-shadow: 2px 2px #000000;
}

#month-input {
    border-radius: 5px;
    width: 60px;
    height: 20px;
    box-shadow: 2px 2px #000000;
}

#day-input {
    border-radius: 5px;
    width: 60px;
    height: 20px;
    box-shadow: 2px 2px #000000;
}