body {
    background-color: aliceblue;
    background-image: url(../images/ghanastatue2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.logopic {
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius: 20px;
    margin-left: -150px;
}

nav {
    display: flex;
    justify-content: space-between;
    width: 84%;
    height: 20px;
    margin: auto;
    padding: 2px 0;
    align-items: center;
}

nav h2 {
    margin-left: -650px;
    font-size: 40px;
}

span {
    color: orange;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
    font-size: 24px;
}

nav ul li a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

nav ul li a:hover {
    color: red;
}

section {
    background-size: cover;
    background-repeat: no-repeat;
    color: aliceblue;
    height: 100%;
}

.homehead {
    background-color: lightgray;
    color: black;
    margin: 40px 0px 0px 420px;
    width: 900px;
    height: 250px;
    padding: 25px;
}

.homehead h1 {
    color: green;
    font-size: 40px;
}

.homehead p {
    font-size: 20px;
    font-weight: 500;
}